
#hotspot_image {
    width:100%;
    height:500px;
    position: relative;
}

.text_box {
    background-color: rgba(125, 15, 74, 0.75);
    border-radius: 0px;
    color: #fff;
    min-height: 30px;
    left: 3%;
    top: 5%;
    position: absolute;
    width: 50%;
}

#hotspot1 {
    left:10%;
    top:40%;
}

#hotspot2 {
    left:40%;
    top:50%;
}



@media (max-width: 979px) and (min-width: 768px) {
    html .text_box {
        max-width:500px;
    }
}
@media (max-width: 979px) {
    html .text_box {
        left:5%;
    }
}
@media (max-width: 768px) {
    #hotspot2 {
        left:45%;
        top:55%;
    }
}
@media (max-width: 480px) {
    #hotspot2 {
        left:45%;
        top:65%;
    }
    html .text_box {
        left: 0px;
        bottom:0px;
        width:auto;
        margin:0px;
        top:auto;
        position:relative;
    }
}